.vTextField {
  width: 100%;
}

#aide_form:has(.field-is_derivable img[alt="True"]):has(.field-parent) {
  --header-bg: var(--secondary);
}

#aide_form:has(.field-is_derivable img[alt="True"]) {
  --header-bg: #5D4190;
}

#aide_form {
  --header-bg: #6C9041;
}

#id_base_juridique + .select2 {
  width: 60% !important;
}

.select2-container--admin-autocomplete .select2-selection--multiple .select2-selection__rendered {
    flex-direction: column;
    align-items: flex-start;
}
