{% extends "ui/base.html" %}

{% load static dsfr_tags ui_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'aides/aide_detail.css' %}">
<link rel="stylesheet" href="{% static 'aides_feedback/base.css' %}">
{% endblock extra_css %}

{% block extra_head_js %}
<script nonce="{{ request.csp_nonce }}">
document.onreadystatechange = evt => {
  document.getElementById("button-print").onclick = () => window.print()
}
</script>
{% endblock extra_head_js %}

{% block title %}{{ object.nom }}{% endblock title %}

{% block other_notices %}
  {% if not object.is_published or not object.is_complete %}
    {% if sneak_peek %}
      {% dsfr_notice type="warning" description="Ceci est une prévisualisation de la fiche d’aide. Elle n’est pas publiée, et cette adresse est secrète. Elle vous a été partagée parce que votre validation métier est requise, merci de ne pas la faire circuler au-delà des cercles de validation métier." %}
    {% else %}
      {% dsfr_notice type="warning" description="Ceci est une prévisualisation de la fiche d’aide. Elle n’est pas publiée. Tu la vois parce que tu es connecté⋅e à l’outil d’édition des aides." %}
    {% endif %}
  {% endif %}
{% endblock other_notices %}

{% block container %}
<main id="content" role="main" aria-label="Contenu">
  <div class="fr-background-alt--{% block content_header_bgcolor %}blue-france{% endblock %} fr-mt-n2w fr-py-2w">
    <div class="fr-container">
      {% block breadcrumb %}{% dsfr_breadcrumb %}{% endblock breadcrumb %}

      <img src="{{ object.organisme.get_logo_url }}" alt="" class="organisme-logo">

      <div class="fr-grid-row fr-mt-2w">
        <div class="fr-col fr-tags-group fr-tags-group--with-badges">
          {% for type_aide in object.types.all %}
            {% dsfr_badge label=type_aide.nom extra_classes="fr-badge--icon-left fr-badge--sm fr-icon-"|add:type_aide.icon_name|add:"-fill" %}
          {% endfor %}
          {% dsfr_tag label=object.organisme.nom extra_classes="fr-tag--sm" %}
          {% for sujet in object.sujets.all %}
            {% dsfr_tag label=sujet.nom_court extra_classes="fr-tag--sm" %}
          {% endfor %}
        </div>
      </div>

      <div class="fr-grid-row fr-mt-4w">
        <div class="fr-col">
          <h1 class="fr-h2 fr-m-0">{{ object.nom }}</h1>
        </div>
      </div>

      <div class="fr-grid-row fr-mt-4w fr-mb-2w">
        <div class="fr-col">
          {% block content_header_highlight %}
            {% dsfr_highlight content=object.promesse %}
          {% endblock content_header_highlight %}
        </div>
      </div>

      {% if object.date_fin or aide.parent %}
      <div class="fr-grid-row fr-mt-4w fr-ml-md-3w">
        {% block content_header_date_fin %}
          {% if object.date_fin %}
            <div class="fr-col fr-col-12">
              <span class="fr-icon fr-icon-calendar-check-line fr-artwork-minor--blue-france" aria-hidden="true"></span>
              <strong>Date d’échéance :</strong>
              <time datetime="{{ object.date_fin|date:"c" }}">{{ object.date_fin|date:"SHORT_DATE_FORMAT" }}</time>
            </div>
          {% endif %}
        {% endblock content_header_date_fin %}
        {% if object.parent %}
          <div class="fr-col fr-col-12">
            <span class="fr-icon fr-icon-information-line fr-artwork-minor--blue-france" aria-hidden="true"></span>
            {% if object.parent.is_departemental and not object.parent.zones_geographiques.exists %}
              <strong>Ce dispositif est national, mais géré par chaque département.</strong>
            {% else %}
              <strong>Ce dispositif fait partie du programme :</strong> {{ object.parent.nom }}.
            {% endif %}
            <a class="fr-link fr-ml-1w"
               href="{% url 'aides:parent-aide' object.parent.pk object.parent.slug %}{% querystring %}"
            >
              {% if object.parent.is_departemental and not object.parent.zones_geographiques.exists %}
                Voir les détails pour tous les départements
              {% else %}
                Voir tous les dispositifs du programme
              {% endif %}
            </a>
          </div>
        {% endif %}
      </div>
      {% endif %}

      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--right fr-my-1w">
      {% block content_header_actions %}
        {% if object.url_demarche %}
          <a class="fr-btn fr-btn--sm fr-btn--primary fr-mx-1w fr-my-2w"
             target="_blank"
             href="{{ object.url_demarche }}"
             data-action="click->matomo#trackEvent"
             data-event-page="Aide"
             data-event-name="Lien démarche"
          >
            Déposer mon dossier
          </a>
        {% endif %}
        <button type="button"
                class="fr-btn fr-btn--sm fr-btn--secondary fr-mx-1w fr-my-2w"
                id="button-print"
                data-action="click->matomo#trackEvent"
                data-event-page="Aide"
                data-event-name="Impression"
        >
          Télécharger cette fiche
        </button>
      {% endblock content_header_actions %}
      </div>
    </div>
  </div>

  {% block content_body %}
  <div class="fr-container fr-py-4w">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col fr-col-md-3" id="toc">
        {% dsfr_sidemenu sidemenu_data button_label="Sommaire" %}
      </div>
      <div class="fr-col fr-col-md-9">
        <a href="#toc" id="back-to-top"
           class="fr-hidden-md fr-btn fr-btn--tertiary fr-btn--sm fr-icon-arrow-up-s-line fr-ml-n1w"
        >Retour au sommaire</a>
        <h2 id="presentation"
            class="fr-h4 fr-text-action-high--blue-france fr-icon-flashlight-fill fr-icon--md fr-mb-2w"
        >
          {{ sections.presentation }}
        </h2>
        <div class="fr-pl-4w fr-mb-4w">
          {{ object.description|urlize|ui_markdown }}

          {% if object.exemple_projet %}
            <div id="exemple_projet"
                 class="fr-highlight fr-background-contrast--grey fr-px-3w fr-pt-2w fr-pb-1w fr-mb-2w"
            >
              <h3 class="fr-h6 fr-mb-1w">Exemple</h3>
              {{ object.exemple_projet|urlize|ui_markdown }}
            </div>
          {% endif %}

          {% if object.url_descriptif and object.url_descriptif != object.url_demarche %}
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--right">
                    <div class="fr-col fr-col-8 fr-col-md-3">
                      <a class="fr-btn fr-btn--secondary fr-btn--sm"
                         target="_blank"
                         href="{{ object.url_descriptif }}"
                         data-action="click->matomo#trackEvent"
                         data-event-page="Aide"
                         data-event-name="Lien descriptif"
                      >
                        Voir plus de détail
                      </a>
                    </div>
                </div>
            </div>
          {% endif %}
        </div>

        {% if object.montant %}
        <h2 id="montant"
            class="fr-h4 fr-text-action-high--blue-france fr-icon-money-euro-circle-fill fr-icon--md fr-mb-2w"
        >
          {{ sections.montant }}
        </h2>
        <div class="fr-pl-4w fr-mb-4w">
          {{ object.montant|urlize|ui_markdown }}
        </div>
        {% endif %}

        {% if object.participation_agriculteur %}
        <h2 id="participation"
            class="fr-h4 fr-text-action-high--blue-france fr-icon-bar-chart-fill fr-icon--md fr-mb-2w"
        >
          {{ sections.participation }}
        </h2>
        <div class="fr-pl-4w fr-mb-4w">
          {{ object.participation_agriculteur|urlize|ui_markdown }}
        </div>
        {% endif %}

        {% if object.etapes %}
        <h2 id="etapes"
            class="fr-h4 fr-text-action-high--blue-france fr-icon-etapes fr-icon--md fr-mb-2w"
        >
          {{ sections.etapes }}
        </h2>
        <div class="fr-pl-4w fr-mb-4w">
          {{ object.etapes|urlize|ui_markdown }}
        </div>
        {% endif %}

        <h2 id="eligibilite"
            class="fr-h4 fr-text-action-high--blue-france fr-icon-list-unordered fr-icon--md fr-mb-2w"
        >
          {{ sections.eligibilite }}
        </h2>
        <div class="fr-pl-4w fr-mb-4w">
          {{ object.conditions|urlize|ui_markdown }}
          {% if object.eligibilite_effectif_min or object.eligibilite_effectif_max %}
            <h3 class="fr-h5" id="effectifs_salaries">Effectifs salariés</h3>
            <ul>
            {% if object.eligibilite_effectif_min %}
              <li>Minimum {{ object.eligibilite_effectif_min }}</li>
            {% endif %}
            {% if object.eligibilite_effectif_max %}
              <li>Maximum {{ object.eligibilite_effectif_max }}</li>
            {% endif %}
            </ul>
          {% endif %}
          {% if object.type_depense %}
            <h3 class="fr-h5" id="type_depense">Dépenses éligibles</h3>
            {{ object.type_depense|urlize|ui_markdown }}
          {% endif %}
          {% if object.eligibilite_cumulable %}
            <h3 class="fr-h5" id="eligibilite_cumulable">Cette aide est-elle cumulable avec d’autres dispositifs ?</h3>
            {{ object.eligibilite_cumulable|urlize|ui_markdown }}
          {% endif %}
        </div>

        {% if object.url_demarche %}
        <div class="fr-container--fluid fr-mb-4w" id="deposer">
          <div class="fr-grid-row">
              <a class="fr-btn fr-btn--sm fr-btn--primary fr-mx-auto"
                 target="_blank"
                 href="{{ object.url_demarche }}"
                 data-action="click->matomo#trackEvent"
                 data-event-page="Aide"
                 data-event-name="Lien démarche"
              >
                Déposer mon dossier
              </a>
          </div>
        </div>
        {% endif %}

        <div class="fr-background-alt--blue-france fr-py-3w fr-px-5w" id="contact">
          <h2 class="fr-h6 fr-icon-mail-fill fr-icon--md fr-mb-2w fr-text-default--grey">Contact</h2>
          <p class="fr-text--sm">
            {{ object.contact|urlize|ui_markdown }}
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock content_body %}

  <div class="fr-container fr-my-4w">
    {% include "aides_feedback/blocks/create_feedback_on_aides.html" with form=create_feedback_on_aides_form %}
  </div>
</main>
{% endblock container %}
