[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pymysql = "*"
django-dsfr = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
flake8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.13"
