#actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}

.fr-card--horizontal-fifth .fr-card__header {
  flex: 0 0 20%;
  width: 20%;
}

.fr-card__content {
  padding: 1.5rem;
}

.fr-card__start {
  margin-bottom: .5rem;
}

.fr-card__desc {
  margin-top: .5rem;
}

.fr-card__content .fr-tags-group > li {
  line-height: unset;
}

.fr-card__content .fr-tag {
  margin-bottom: 0;
}

.fr-card--horizontal-fifth .fr-card__img img {
  object-fit: contain;
}

.fr-card.fr-enlarge-button:not(.fr-card--no-icon) .fr-card__content, .fr-card.fr-enlarge-link:not(.fr-card--no-icon) .fr-card__content {
  padding-bottom: 2rem;
}

/* TODO remove when https://github.com/numerique-gouv/django-dsfr/pull/267 will be merged */
.fr-links-group {
	--ul-type: none;
	--ol-type: none;
	--ul-start: 0;
	--ol-start: 0;
	--xl-block: 0;
	--li-bottom: 0;
	--ol-content: none;
	display: inline;
	margin: 0 -.5rem;
}

@media print {
  #summary div:not(.fr-text--bold), #summary p, #summary span {
    display: inline;
  }

  #footer,
  .fr-breadcrumb,
  .fr-alert,
  .fr-btn,
  #aides-feedback,
  #summary a.fr-link {
    display: none;
  }
}
