#actions {
  gap: .5rem;
}

.fr-card--horizontal-fifteen-percent .fr-card__header {
	flex: 0 0 15%;
	width: 50%;
	padding-left: 32px;
}

.fr-card--horizontal-fifteen-percent .fr-card__img img {
  object-fit: contain;
}

.fr-card__content {
  padding: .75rem 2rem 0;
}

.fr-card__footer {
  padding-bottom: .75rem;
}

.fr-toggle__label::before {
  --toggle-status-width: 1rem !important;
}

.fr-sidemenu {
  position: sticky;
  top: 0;
  padding-right: 0;
}

.fr-tag.fr-badge {
	--text-spacing: 0;
	--title-spacing: 0;
	--underline-img: none;
	--hover-tint: var(--hover);
	--idle: transparent;
	--hover: var(--background-contrast-grey-hover);
	--active: var(--background-contrast-grey-active);
	align-items: center;
	background-color: var(--background);
	border-radius: .25rem;
	color: var(--color);
	display: inline-flex;
	flex-direction: row;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.5rem;
	max-height: none;
	max-width: 100%;
	min-height: 1.5rem;
	overflow: initial;
	padding: 0 .5rem;
	text-transform: uppercase;
	width: fit-content;
}

.fr-tag.fr-badge.fr-badge--success {
	--hover: var(--background-contrast-success-hover);
	--active: var(--background-contrast-success-active);
	--background: var(--background-contrast-success);
	--color: var(--text-default-success);
}

.fr-tag.fr-badge.fr-badge--warning {
	--hover: var(--background-contrast-warning-hover);
	--active: var(--background-contrast-warning-active);
	--background: var(--background-contrast-warning);
	--color: var(--text-default-warning);
}

.fr-tag.fr-badge--purple-glycine {
	--hover: var(--background-contrast-purple-glycine-hover);
	--active: var(--background-contrast-purple-glycine-active);
	--background: var(--background-contrast-purple-glycine);
	--color: var(--text-label-purple-glycine);
}

.load-more {
  text-align: center;
}

label.fr-tag[aria-pressed=true] {
  cursor: pointer;
}
label.fr-tag[aria-pressed=true]:not(:disabled) {
  background-color:transparent;
  background-image:radial-gradient(circle at 100% .25rem,transparent .578125rem,var(--background-active-blue-france) .625rem);
  color:var(--text-inverted-blue-france)
}
label.fr-tag[aria-pressed=true]:not(:disabled):hover {
  background-image:radial-gradient(circle at 100% .25rem,transparent .578125rem,var(--background-active-blue-france-hover) .625rem)
}
label.fr-tag[aria-pressed=true]:not(:disabled):active {
  background-image:radial-gradient(circle at 100% .25rem,transparent .578125rem,var(--background-active-blue-france-active) .625rem)
}
label.fr-tag[aria-pressed=true]:after {
  color:var(--text-action-high-blue-france)
}
label.fr-tag[aria-pressed=true] {
  background-position:50%;
  background-repeat:no-repeat;
  background-size:100%;
  overflow:visible;
  position:relative
}
label.fr-tag[aria-pressed=true]:after {
  --icon-size:1rem;
  background-color:currentColor;
  content:"";
  display:inline-block;
  flex:0 0 auto;
  height:var(--icon-size);
  margin:-.5rem;
  -webkit-mask-image:url(/static/dsfr/dist/icons/system/checkbox-circle-line.svg);
  mask-image:url(/static/dsfr/dist/icons/system/checkbox-circle-line.svg);
  -webkit-mask-size:100% 100%;
  mask-size:100% 100%;
  position:absolute;
  right:0;
  top:4px;
  vertical-align:calc((.75em - var(--icon-size))*.5);
  width:var(--icon-size)
}

.back-to-top {
  text-align: right;
}

@media (min-width: 576px) {
	.fr-card--horizontal-fifteen-percent .fr-card__header {
		padding-left: 0;
	}
}

@media print {
  #actions,
  #filters,
  #footer,
  .fr-breadcrumb,
  .fr-alert,
  .fr-btn,
  #aides-feedback {
    display: none;
  }
}
