<header role="banner" class="fr-header" id="tee-header">
    <div class="fr-header__body">
        <div class="fr-container width-inherit">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo"><a href="/" class=""
                                                        title="Accueil - Transition écologique des entreprises"><p
                                class="fr-logo" data-testid="header-logo">RÉPUBLIQUE<br>FRANÇAISE</p></a></div>
                        <div class="fr-header__operator"><!--[--><img class="fr-responsive-img"
                                                                      src="/images/logos/mission-transition-logo-alone.png"
                                                                      alt="Transition Ecologique des Entreprises - ADEME"
                                                                      style="width:3.5rem;"><!--]--></div>
                        <div class="fr-header__navbar"><!---->
                            <div class="fr-hidden-lg"><!--[-->
                                <button data-v-118397f5="" data-v-aad79be5=""
                                        class="fr-btn fr-btn--md inline-flex fr-btn--tertiary-no-outline ignore-modal-click"
                                        title="EARL PREL MARAICHAGE" aria-disabled="false"><!----><span
                                        data-v-118397f5=""> <span data-v-aad79be5=""
                                                                  class="fr-pr-2w fr-icon-account-circle-fill register-icon-profile ignore-modal-click"><span
                                        data-v-aad79be5="" id="base-badge"
                                        class="fr-bg--green fr-icon-check-line fr-text--blue-france fr-radius-a--2v ignore-modal-click register-badge"></span></span><span
                                        data-v-aad79be5="" id="register-text">EARL PREL MARAICHAGE</span></span>
                                </button><!----><!--]--></div>
                            <button id="button-menu" class="fr-btn--menu fr-btn" aria-controls="header-navigation"
                                    aria-haspopup="menu" aria-label="Menu" title="Menu"
                                    data-testid="open-menu-btn"></button>
                        </div>
                    </div>
                    <div class="fr-header__service"><a href="/" class=""
                                                       title="Accueil - Transition écologique des entreprises"
                                                       id="tee-header"><p class="fr-header__service-title">Transition
                        écologique des entreprises <!----></p></a>
                        <p class="fr-header__service-tagline">Allier écologie avec économies !</p></div><!----></div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <nav role="navigation" aria-label="Menu secondaire">
                            <ul class="fr-btns-group"><!--[-->
                                <li class="fr-px-4v"><a href="/" class="fr-btn fr-py-2v fr-px-4v" target="_self"><!---->
                                    Accueil <!----></a></li>
                                <li class="fr-px-4v"><!--[-->
                                    <nav id="v-2" class="fr-nav fr-hidden fr-unhidden-lg fr-pr-2w fr-pr-lg-0"
                                         role="navigation" aria-label="Sous Menu secondaire">
                                        <ul class="fr-nav__list"><!--[--><!--]--><!--[-->
                                            <li id="nav-74k3h-item" class="fr-nav__item" data-v-5909c19f=""><!--[-->
                                                <!--[-->
                                                <button class="fr-nav__btn" aria-expanded="false"
                                                        aria-controls="menu-8ftyc"><span>Catalogue</span></button>
                                                <div id="menu-8ftyc" class="fr-collapse fr-menu"
                                                     data-testid="navigation-menu">
                                                    <ul class="fr-menu__list"><!--[--><!--]--><!--[-->
                                                        <li id="menu-zf6ed-item" class="fr-menu__item"><!--[--><a
                                                                href="/aides-entreprise" class="fr-nav__link"
                                                                data-testid="nav-router-link"><!----> Catalogue des
                                                            aides</a><!--]--></li>
                                                        <li id="menu-irl58-item" class="fr-menu__item"><!--[--><a
                                                                href="/projets-entreprise" class="fr-nav__link"
                                                                data-testid="nav-router-link"><!----> Catalogue des
                                                            projets</a><!--]--></li><!--]--></ul>
                                                </div><!--]--><!--]--></li><!--]--></ul>
                                    </nav>
                                    <ul class="fr-hidden-lg"><!--[-->
                                        <li id="v-0"><a href="/aides-entreprise" class="fr-btn fr-p-md-2w"
                                                        target="_self" id="v-0" text="Catalogue des aides"><!---->
                                            <!----></a></li>
                                        <li id="v-1"><a href="/projets-entreprise" class="fr-btn fr-p-md-2w"
                                                        target="_self" id="v-1" text="Catalogue des projets"><!---->
                                            <!----></a></li><!--]--></ul><!--]--></li><!--]--></ul>
                        </nav><!----></div>
                    <div class="fr-my-auto fr-px-4v fr-hidden fr-unhidden-lg"><!--[-->
                        <button data-v-118397f5="" data-v-aad79be5=""
                                class="fr-btn fr-btn--md inline-flex fr-btn--tertiary-no-outline ignore-modal-click"
                                title="EARL PREL MARAICHAGE" aria-disabled="false"><!----><span
                                data-v-118397f5=""> <span data-v-aad79be5=""
                                                          class="fr-pr-2w fr-icon-account-circle-fill register-icon-profile ignore-modal-click"><span
                                data-v-aad79be5="" id="base-badge"
                                class="fr-bg--green fr-icon-check-line fr-text--blue-france fr-radius-a--2v ignore-modal-click register-badge"></span></span><span
                                data-v-aad79be5="" id="register-text">EARL PREL MARAICHAGE</span></span></button><!---->
                        <!--]--></div><!----></div>
            </div>
            <div id="header-navigation" class="fr-header__menu fr-modal" aria-label="Menu modal" role="dialog"
                 aria-modal="true">
                <div class="fr-container">
                    <button id="close-button" class="fr-btn fr-btn--close" aria-controls="header-navigation"
                            data-testid="close-modal-btn">Fermer
                    </button>
                    <div class="fr-header__menu-links"><!---->
                        <nav role="navigation"><!----></nav>
                    </div><!----><!----></div>
            </div><!--[--><!--]--></div>
    </div>
    <div class="fr-header__menu fr-modal"><!----></div>
</header>