.organisme-logo {
  max-width: 16%;
  max-height: 200px;
}

.fr-icon.fr-artwork-minor--blue-france {
  color: var(--artwork-minor-blue-france)!important;
}

#content .fr-sidemenu {
  position: sticky;
  top: 0;
  padding-right: 0;
}

.fr-icon-etapes:after, .fr-icon-etapes:before {
  -webkit-mask-image: url(icons/etapes.svg);
  mask-image: url(icons/etapes.svg)
}

.fr-tags-group--with-badges .fr-badge {
  margin: 0 .25rem .5rem;
}

p + ul {
  margin-top: -16px;
  margin-bottom: 16px;
}

#back-to-top {
  position: sticky;
  top: 90%;
}

@media print {
  #footer,
  .fr-breadcrumb,
  .fr-btn,
  #aides-feedback {
    display: none;
  }
}
