{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">
{% endblock extra_css %}

{% block title %}Votre exploitation{% endblock title %}

{% block action %}{% url 'agri:step-5' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-dsfr-form-select-rich-outlet="[data-controller=select-rich]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-alert fr-alert--info fr-alert--sm fr-mb-4w">
  <p>
    Nous avons besoin d’un certain nombre d’informations concernant votre exploitation pour sélectionner les dispositifs pertinents.
  </p>
</div>
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element">
      {% ui_select_rich_single label="Commune" name="commune" required=True search_url="agri:search-commune" search_field_name="commune-search" helper="Recherchez votre commune par nom ou code postal puis sélectionnez-la." search_placeholder="Crozon, 13990, Charpey…" %}
    </div>
  </fieldset>
</div>
{% endblock form %}
