{% extends "agri/_form.html" %}

{% load dsfr_tags static ui_tags %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ui/components/select-rich.css' %}">
  <link rel="stylesheet" href="{% static 'ui/components/checkbox-group-field.css' %}">
{% endblock extra_css %}

{% block title %}Votre exploitation{% endblock title %}
{% block h1 %}Votre exploitation.{% endblock h1 %}

{% block action %}{% url 'agri:results' %}{% endblock action %}

{% block extra_form_attributes %}
  data-controller="dsfr-form"
  data-dsfr-form-select-rich-outlet="[data-controller=select-rich]"
  data-dsfr-form-checkbox-group-field-outlet="[data-controller=checkbox-group-field]"
{% endblock extra_form_attributes %}

{% block form %}
<div class="fr-alert fr-alert--info fr-alert--sm fr-mb-3w">
  <p>
    Nous avons encore besoin de quelques informations concernant votre exploitation pour sélectionner les dispositifs pertinents.
  </p>
</div>
<div class="fr-grid-row">
  <fieldset class="fr-fieldset fr-col">
    <div class="fr-fieldset__element">
      {% ui_select_rich_multi label="Filières" name="filieres" required=True options=filieres initials=filieres_initials searchable=True search_placeholder="élevage, légumes, etc." with_tags=True %}
    </div>
    <div class="fr-fieldset__element fr-mb-3w">
      <div class="fr-select-group">
        <label for="input-effectif" class="fr-label fr-mb-2v">
          Effectifs
        </label>
        <select id="input-effectif"
                class="fr-select {% if tranche_effectif_salarie %}fr-hidden{% endif %}"
                name="tranche_effectif_salarie"
                required
        >
          <option value="" disabled selected>Sélectionner une option</option>
          {% for code, label in mapping_tranches_effectif.items %}
          <option value="{% if code %}{{ code }}{% endif %}">{{ label }}</option>
          {% endfor %}
        </select>
        <span class="fr-error-text fr-hidden">Ce champ est requis.</span>
      </div>
    </div>
  </fieldset>
</div>
{% endblock form %}
