{% load dsfr_tags %}

<h2 class="fr-mb-2w">Quel est votre besoin ?</h2>
<div id="sujets">
  {% dsfr_stepper current_step_id=2 total_steps=3 %}

  <div class="fr-grid-row fr-grid-row--gutters">
    <form id="sujets-themes"
          class="fr-col fr-col-md-6"
          hx-get=""
          hx-trigger="change"
          hx-target="#sujets-sujets"
          hx-select="#sujets-sujets"
          hx-swap="outerHTML show:none"
    >
      <fieldset class="fr-fieldset">
        <legend>Sélectionnez une famille de besoins.</legend>
        {% for theme in themes %}
          <div class="fr-radio-group fr-radio-rich fr-my-2w">
            <input id="fr-radios-theme-{{ theme.pk }}"
                   type="radio"
                   name="theme"
                   value="{{ theme.pk }}"
                   {% if theme.pk == theme_id %}checked{% endif %}
            >
            <label class="fr-label" for="fr-radios-theme-{{ theme.pk }}">
              <strong>{{ theme.nom }}</strong>
              <br>
              <span class="fr-text--sm fr-text-mention--grey">{{ theme.description }}</span>
            </label>
          </div>
        {% endfor %}
      </fieldset>
    </form>

    <div id="sujets-sujets" class="fr-col fr-col-md-6" aria-live="polite">
      {% if sujets %}
        <form action="{% url 'agri_v2:results' %}">
          <input type="hidden" name="departements" value="{{ departement }}">
          <input type="hidden" name="theme" value="{{ theme_id }}">
          <fieldset class="fr-fieldset fr-grid-row fr-grid-row--gutters fr-mt-0 fr-mb-4w"
               data-controller="checkbox-group-field"
               data-checkbox-group-field-required-value="true"
          >
            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
                Sélectionnez une ou plusieurs options.
            </legend>
            {% for sujet in sujets %}
            <div class="fr-col fr-col-12 sujet">
              <div class="fr-checkbox-group">
                <input id="sujet-{{ sujet.pk }}" type="checkbox" name="sujets" value="{{ sujet.pk }}" checked>
                <label class="fr-label" for="sujet-{{ sujet.pk }}">{{ sujet.nom }}</label>
              </div>
            </div>
            {% endfor %}
            <div class="fr-error-text fr-icon-error-line fr-hidden" data-checkbox-group-field-target="error" role="alert">
              Veuillez sélectionner au moins un sujet pour passer à la suite
            </div>
          </fieldset>
          <button class="fr-btn" type="submit">Voir les dispositifs</button>
        </form>
      {% endif %}
    </div>
  </div>
</div>
