<div class="fr-alert fr-alert--success"
     role="alert"
     id="alert-success-create-alerte"
     hx-disinherit="*"
>
  <p class="fr-alert__title">Votre alerte a bien été enregistrée</p>
  <p>Vous recevrez maximum un courriel par jour vous informant de l’arrivée de nouveaux dispositifs correspondant à cette recherche.</p>
  <p>
    Vous pouvez ajouter d’autres alertes sur d’autres recherches.
  </p>
  <p>
    Chaque courriel d’alerte reçu comportera un lien pour retrouver vos alertes et en supprimer si vous le souhaitez.
  </p>
</div>

<div id="modal-create-alerte-footer" hx-swap-oob="delete"></div>