<dialog aria-labelledby="fr-modal-feedback-title" id="fr-modal-feedback" class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn" aria-controls="fr-modal-feedback">Fermer</button>
          </div>
          <div class="fr-modal__content" id="fr-modal-feedback-content">
            <h1 id="fr-modal-feedback-title" class="fr-modal__title">
              <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
              Vous ne trouvez pas le sujet adéquat ?
            </h1>
            <p><strong>Option 1</strong> Lorsque vous choisissez un thème, des sujets plus précis vous sont proposés. Avez-vous eu l’occasion de balayer ces sujets ?</p>
            <p><strong>Option 2</strong> Étant en cours de construction et en amélioration continue, il se peut que nous n’ayons pas identifié votre besoin à date.</p>
            <p><strong>Option 3</strong> Il se peut également aucune aide ne soit proposée pour le moment par nos partenaires publics pouvant correspondre à votre besoin.</p>
            <p>Pour nous aider à l’améliorer, pouvez-vous nous dire quel est votre projet ou difficulté que nous n’avez pas trouvé ?</p>
          </div>
          <div class="fr-modal__footer" id="fr-modal-feedback-footer">
            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
              <a href="{% url 'agri:feedback-themes-sujets' %}"
                 class="fr-btn"
                 hx-boost="true"
                 hx-target="#fr-modal-feedback-content"
                 hx-push-url="false"
                 id="fr-modal-feedback-primary-button"
              >
                Racontez-nous votre besoin
              </a>
              <a class="fr-btn fr-btn--secondary"
                 href="{% url 'agri:home' %}#projet"
                 aria-controls="fr-modal-feedback"
              >
                Retour aux thèmes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>