{% extends "ui/base.html" %}

{% load static dsfr_tags stats_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/DSFRChart.css' %}" />
{% endblock extra_css %}

{% block extra_head_js %}
<script type="module" src="{% static 'vendor/DSFRChart.js' %}"></script>
{% endblock extra_head_js %}

{% block breadcrumb %}{% endblock %}

{% block title %}Statistiques et matrice d’impact{% endblock %}

{% block content %}
  <h1>Statistiques et matrice d’impact</h1>
  <h2>Contexte</h2>
  <dl class="fr-background-alt--grey fr-p-2w fr-mb-2w">
    <dt class="fr-text--bold">Service :</dt>
    <dd>Aides Agri recense les dispositifs d’aides publics aux exploitations agricoles, et permet de les découvrir, de les parcourir et de les étudier.</dd>
    <dt class="fr-text--bold">Irritant :</dt>
    <dd>
      Il est difficile pour un exploitant agricole de se tenir au courant de tous les dispositifs d’aides publics qui lui sont disponibles ;
      cela nécessite une veille permanente auprès d’une multiplicité d’acteurs qui ont chacun leurs canaux de communication.
      Il est également difficile de comprendre les dispositifs, leurs conditions d’éligibilité, leur valeur concrète à l’échelle d’une exploitation dans un certain contexte, etc.
    </dd>
    <dt class="fr-text--bold">Politique publique :</dt>
    <dd>Aide à l’agriculture, simplification des démarches.</dd>
    <dt class="fr-text--bold">Cible prioritaire :</dt>
    <dd>Exploitants agricoles</dd>
    <dt class="fr-text--bold">Dates marquantes de la plateforme Aides Agri :</dt>
    <dd>
      <ul>
        <li><time datetime="2024-09">Septembre 2024</time> : début de l’investigation</li>
        <li><time datetime="2025-10">Janvier 2025</time> : démarrage de la construction du produit</li>
      </ul>
    </dd>
  </dl>
  <h2>Matrice d’impact</h2>
  <div class="fr-container--fluid">
    {% for category, stats in stats.items %}
      <section class="fr-my-3w fr-p-1w">
        <h3>{{ category }}</h3>
        <div class="fr-grid-row fr-grid-row--gutters">
          {% for stat in stats %}
            <div class="fr-col fr-col-12 fr-col-md-6">
              <data-box id="databox-{{ stat.label|slugify }}"
                        title="{{ stat.label }}"
                        source="{{ stat.source }}"
                        date="{{ date_updated|date:"SHORT_DATE_FORMAT" }}"
                        tooltip-content="{{ stat.help_text }}"
              ></data-box>
              {% if stat.data.y_bar %}
                <bar-line-chart databox-id="databox-{{ stat.label|slugify }}"
                                databox-type="chart"
                                x='{{ stat.data.x|stats_json }}'
                                y-bar='{{ stat.data.y_bar|stats_json }}'
                                y-line='{{ stat.data.y_line|stats_json }}'
                                name-bar='{{ stat.data.name_bar|safe }}'
                                name-line='{{ stat.data.name_line|safe }}'
                                {% if stat.unit_bar %}unit-tooltip-bar="{{ stat.unit_bar }}"{% endif %}
                                {% if stat.unit_line %}unit-tooltip-line="{{ stat.unit_line }}"{% endif %}
                ></bar-line-chart>
                <table-chart databox-id="databox-{{ stat.label|slugify }}"
                             databox-type="table"
                             x='{{ stat.data.x|stats_json }}'
                             y='{{ stat.data.y_line|join_list:stat.data.y_bar|stats_json }}'
                             name='{{ stat.data.name_line|join_list:stat.data.name_bar|stats_json }}'
                             table-name="Mois"
                ></table-chart>
              {% else %}
                <line-chart databox-id="databox-{{ stat.label|slugify }}"
                            databox-type="chart"
                            x='{{ stat.data.x|stats_json }}'
                            y='{{ stat.data.y|stats_json }}'
                            name='{{ stat.data.name|stats_json }}'
                            {% if stat.unit %}unit-tooltip="{{ stat.unit }}"{% endif %}
                ></line-chart>
                <table-chart databox-id="databox-{{ stat.label|slugify }}"
                             databox-type="table"
                             x='{{ stat.data.x|last|stats_json }}'
                             y='{{ stat.data.y|stats_json }}'
                             name='{{ stat.data.name|stats_json }}'
                             table-name="Mois"
                ></table-chart>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock content %}
