#aides-feedback {
  text-align: center;
}

#aides-feedback .fr-fieldset {
  justify-content: center;
}

#aides-feedback .fr-radio-group label {
  border: 1px solid var(--background-alt-grey-hover);
  padding: 0.5rem 1rem;
  background-image: none;
  background-color: var(--background-default-grey);
  color: var(--text-action-high-blue-france);
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

#aides-feedback .fr-radio-group label:hover {
  background-color: var(--background-default-grey-hover);
}

#aides-feedback .fr-radio-group input[type=radio] + label::before {
  display: none;
}

#aides-feedback .fr-radio-group input[type=radio]:checked + label {
  background-color: var(--background-action-high-blue-france);
  color: var(--text-inverted-grey);
  outline: 2px solid #0a76f6;
  outline-offset: 2px;
}

#aides-feedback .fr-radio-group input[type=radio]:disabled + label {
  background-color: var(--background-disabled-grey);
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}

@media screen and (max-width: 576px) {
  #aides-feedback .fr-fieldset {
    flex-direction: column;
    align-items: center;
  }

  #aides-feedback .fr-fieldset__element {
    width: 100%;
  }

  #aides-feedback .fr-radio-group {
    width: 90%;
    max-width: unset;
    margin-inline: auto;
  }

  #aides-feedback .fr-radio-group label {
    width: 100%;
  }
}
