name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency: 
  group: ${{ github.head_ref || github.ref }}

permissions:
  contents: read
  pull-requests: write

jobs:
  validate:
    name: Validation (test + code style)
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: root
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          save-cache: false
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install Python dependencies
        run: uv sync --all-extras --dev
      - name: Collect staticfiles
        run: uv run --no-sync manage.py collectstatic
        env:
          DJANGO_SETTINGS_MODULE: conf.settings.testing
          SECRET_KEY: notsecret
      - name: Run Ruff
        run: uv run --no-sync ruff check --output-format=github .
      - name: Check migrations
        run: uv run --no-sync manage.py makemigrations --check --dry-run
        env:
          DJANGO_SETTINGS_MODULE: conf.settings.testing
          SECRET_KEY: notsecret
      - name: Run tests
        run: uv run --no-sync pytest --cov --cov-report=xml
        env:
          DJANGO_SETTINGS_MODULE: conf.settings.testing
          SECRET_KEY: notsecret
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Load fixtures for E2E testing
        run: |
          uv run --no-sync manage.py migrate
          uv run --no-sync manage.py loaddata conf/fixtures/dsfr_config.json cypress/e2e/fixtures/aides_01_sujets.json cypress/e2e/fixtures/aides_02_filieres.json cypress/e2e/fixtures/aides_03_zones_geographiques.json
        env:
          DJANGO_SETTINGS_MODULE: conf.settings.testing
          SECRET_KEY: notsecret
      - name: Run website for E2E tests
        run: |
          uv run --no-sync manage.py runserver --noreload --insecure --settings conf.settings.testing &
        env:
          DJANGO_SETTINGS_MODULE: conf.settings.testing
          SECRET_KEY: notsecret
      - name: Setup Javascript runtime
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install JS dependencies for E2E testing
        run: npm ci --ignore-scripts
      - name: Run Lighthouse
        run: npx lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v6
