{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Questionnaire</h1>
        <a href="" title="Accueil — " class=" ">
            <p class="fr-header__service-title fr-blue-france-main-525 fr-mb-15w">
                hello
                <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">
                    BETA
                </span>
            </p>
        </a>

        <div class="fr-container--fluid fr-container--fluid--no-overflow fr-px-0v fr-mt-0 fr-mb-10v"
             style="min-height: 800px;">
            <div class="fr-container">
                <div class="fr-container" id="questionnaire">
                    <div class="fr-grid-row fr-grid-row-gutters fr-justify-center">
                        <div id="tee-app-tracks"
                             class="fr-grid-row--center fr-col fr-col-sm-12 fr-col-md-8 fr-col-lg-9">
                            <div class="fr-p-0 fr-mb-0">
                                <div id="choix-du-parcours" class="fr-grid-row">
                                    <div class="fr-col-12  fr-px-0v fr-px-md-4v fr-mb-4v">
                                        <div class="fr-py-4v fr-px-4v fr-bg--yellow">
                                            <div class="tee-track-callout fr-grid-row fr-grid-row--gutters">
                                                <div class="fr-col-4 fr-col-sm-4 fr-col-md-5 tee-track-callout-img fr-pl-0 fr-p-2v fr-pr-0"
                                                     style="align-self: center;">
                                                    <img class="fr-responsive-img"
                                                         src="https://mission-transition-ecologique.beta.gouv.fr/images/TEE-onboarding.png"
                                                         alt="image / callout"></div>
                                                <div class="fr-col fr-col-md-7 tee-track-callout-texts"><!---->
                                                    <h3 class="fr-callout__title tee-track-callout-title" style="">En
                                                        avant !</h3>
                                                    <p class="fr-callout__text tee-track-callout-description fr-mb-2v"
                                                       style="">Nous allons vous poser quelques questions pour pouvoir
                                                        identifier les accompagnements et les financements dont vous
                                                        pouvez bénéficier.</p>
                                                    <!----></div><!---->
                                            </div>
                                        </div>
                                    </div><!---->
                                    <div class="fr-col">
                                        <div class="fr-grid-row fr-grid-row--gutters">
                                            <!----><!----><!----><!---->
                                            <div class="fr-col-xl-6 fr-col-lg-6 fr-col-md-6 fr-col-sm-12 fr-col-xs-12 tee-track-choice">
                                                <!---->
                                                <div style="height: 99%;">
                                                    <div class="fr-card fr-enlarge-link">
                                                        <div class="fr-card__header">
                                                            <div class="fr-card__img"><img class="fr-responsive-img"
                                                                                           src="https://mission-transition-ecologique.beta.gouv.fr/images/tracks/je-ne-sais-pas-par-ou-commencer.svg"
                                                                                           alt="image / [object Object]">
                                                            </div>
                                                        </div>
                                                        <div class="fr-card__body">
                                                            <div class="fr-card__content fr-mb-6w"><p
                                                                    class="fr-card__desc fr-mt-0 fr-mb-2v"
                                                                    style="order: 2;"><span class="fr-icon-timer-line"
                                                                                            aria-hidden="true"></span> 5
                                                                min. chrono !</p>
                                                                <h3 class="fr-card__title">Je ne sais pas par où
                                                                    commencer</h3></div><!----><p class="fr-card__desc">
                                                            Faisons un état des lieux à 360° sur votre empreinte carbone
                                                            : énergie, eau, déchets, mobilité...</p></div>
                                                    </div>
                                                </div><!----><!----><!----></div>
                                            <div class="fr-col-xl-6 fr-col-lg-6 fr-col-md-6 fr-col-sm-12 fr-col-xs-12 tee-track-choice">
                                                <div style="height: 99%;">
                                                    <div class="fr-card fr-enlarge-link">
                                                        <div class="fr-card__header">
                                                            <div class="fr-card__img"><img class="fr-responsive-img"
                                                                                           src="https://mission-transition-ecologique.beta.gouv.fr/images/tracks/j-ai-un-obectif.svg"
                                                                                           alt="image / [object Object]">
                                                            </div>
                                                        </div>
                                                        <div class="fr-card__body">
                                                            <div class="fr-card__content fr-mb-6w"><p
                                                                    class="fr-card__desc fr-mt-0 fr-mb-2v"
                                                                    style="order: 2;"><span class="fr-icon-timer-line"
                                                                                            aria-hidden="true"></span> 2
                                                                min. chrono !</p>
                                                                <h3 class="fr-card__title">J'ai un projet en tête !</h3>
                                                            </div><!----><p class="fr-card__desc">Trouvons les
                                                            accompagnements et financements qui peuvent vous aider à
                                                            réaliser votre projet</p></div>
                                                    </div>
                                                </div><!----><!----><!----></div><!----><!----></div><!----></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fr-container--fluid fr-banner fr-bg--blue-france--lightness fr-pt-4v fr-py-md-6w fr-text-center">
            <!---->
            <div class="fr-bg--blue-france--lightness">
                <div class="fr-container">
                    <div class="fr-grid-row fr-grid-row--center fr-grid-row--middle">
                        <div class="fr-col-10 fr-col-lg-8"><h1 class="fr-text--blue-france">Le catalogue des projets de
                            transition écologique</h1></div>
                        <div class="fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-px-1v"><p class="fr-text--md">Accédez à la
                            liste des projets de transition écologique destinées aux entreprises.</p></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fr-grid-row fr-grid-row--center">
            <div>
                <div class="fr-col-12 fr-col-justify--left fr-mt-3v">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12">
                            <ul class="fr-tags-group fr-col-justify--center fr-col-justify-md--left"><!--[-->
                                <li>
                                    <button class="fr-tag" aria-pressed="true" data-v-bdaecd28=""><!----><!--[-->Tous
                                        <!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->⚡️
                                        énergie<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🏢
                                        rénovation<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🚲
                                        mobilité<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->💧 eau
                                        <!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🔁
                                        écoconception<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🗑
                                        déchets<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🧑&zwj;🎓
                                        RH<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🌱
                                        analyses<!--]--><!--[--><!--]--></button>
                                </li>
                                <li>
                                    <button class="fr-tag" aria-pressed="false" data-v-bdaecd28=""><!----><!--[-->🐝
                                        biodiversité<!--]--><!--[--><!--]--></button>
                                </li><!--]--></ul>
                        </div>
                    </div>
                </div><!---->
                <div>
                    <div class="fr-col-12 fr-text--blue-france tee-font-style--italic fr-mt-3v">
                        <span>47 résultats</span></div>
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--left fr-mt-0"><!--[-->
                        <div class="fr-col-12 fr-col-sm-6 fr-col-md-6 fr-col-lg-4 no-outline">
                            <div class="fr-card teste2e-project-target fr-radius-a--1v fr-card--shadow fr-enlarge-link"
                                 data-testid="fr-card" data-v-cd36cfd6="">
                                <div class="fr-card__body">
                                    <div class="fr-card__content"><h3 class="fr-card__title"><a
                                            href="/projets-entreprise/diag-360" class="fr-card__link"
                                            data-testid="card-link">Diagnostic à 360° sur la transition écologique</a>
                                    </h3>
                                        <p class="fr-card__desc">Réalisez un diagnostic de votre entreprise au prisme de
                                            l’environnement.</p><!----><!----></div><!----></div>
                                <div class="fr-card__header">
                                    <div class="fr-card__img"><img
                                            src="https://mission-transition-ecologique.beta.gouv.fr/images/projet/diag-360.webp"
                                            class="fr-responsive-img"
                                            alt="image / Diagnostic à 360° sur la transition écologique"
                                            data-testid="card-img"></div><!----></div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-sm-6 fr-col-md-6 fr-col-lg-4 no-outline">
                            <div class="fr-card teste2e-project-target fr-radius-a--1v fr-card--shadow fr-enlarge-link"
                                 data-testid="fr-card" data-v-cd36cfd6="">
                                <div class="fr-card__body">
                                    <div class="fr-card__content"><h3 class="fr-card__title"><a
                                            href="/projets-entreprise/sensibilisation-equipes" class="fr-card__link"
                                            data-testid="card-link">Sensibilisation des équipes</a></h3>
                                        <p class="fr-card__desc">Sensibiliser votre équipe sur les enjeux
                                            environnementaux de votre activité et sur les éco-gestes à mettre en place
                                            au quotidien.</p><!----><!----></div><!----></div>
                                <div class="fr-card__header">
                                    <div class="fr-card__img"><img
                                            src="https://mission-transition-ecologique.beta.gouv.fr/images/projet/sensibilisation-equipes.webp"
                                            class="fr-responsive-img" alt="image / Sensibilisation des équipes"
                                            data-testid="card-img"></div><!----></div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-sm-6 fr-col-md-6 fr-col-lg-4 no-outline">
                            <div class="fr-card teste2e-project-target fr-radius-a--1v fr-card--shadow fr-enlarge-link"
                                 data-testid="fr-card" data-v-cd36cfd6="">
                                <div class="fr-card__body">
                                    <div class="fr-card__content"><h3 class="fr-card__title"><a
                                            href="/projets-entreprise/plan-action-eco-energie" class="fr-card__link"
                                            data-testid="card-link">Plan d’action économies d’énergie</a></h3>
                                        <p class="fr-card__desc">Il met en évidence vos postes d’énergie les plus
                                            consommateurs et les pistes de solutions.</p><!----><!----></div><!---->
                                </div>
                                <div class="fr-card__header">
                                    <div class="fr-card__img"><img
                                            src="https://mission-transition-ecologique.beta.gouv.fr/images/projet/plan-action-eco-energie.webp"
                                            class="fr-responsive-img" alt="image / Plan d’action économies d’énergie"
                                            data-testid="card-img"></div><!----></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    $(document).ready(function () {
        console.log('jquery ready');
    });
    </script>
{% endblock %}